
# BEGIN WordPress
# Директивы (строки) между `BEGIN WordPress` и `END WordPress`
# созданы автоматически и подлежат изменению только через фильтры WordPress.
# Сделанные вручную изменения между этими маркерами будут перезаписаны.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

Redirect 301 /forum/roshim/ http://arhr.ru/chlenam-assocziaczii/
Redirect 301 /en/forum/roshim/ http://arhr.ru/en/association-members/
Redirect 301 /forum/informacionnoe-sotrudnichestvo/ http://arhr.ru/informacionnoe-sotrudnichestvo/
Redirect 301 /en/informacionnoe-sotrudnichestvo/ http://arhr.ru/en/informational-cooperation/
Redirect 301 /o-association/ http://arhr.ru/o-nas/
Redirect 301 /en/o-association/ http://arhr.ru/en/about-us/
Redirect 301 /struktura-np-rosximreaktiv/ http://arhr.ru/o-nas/struktura-np-rosximreaktiv/
Redirect 301 /en/struktura-np-rosximreaktiv/ http://arhr.ru/en/about-us/association-structure/
Redirect 301 /chleny-np-rosximreaktiv/ http://arhr.ru/o-nas/chleny-assocziaczii/
Redirect 301 /en/chleny-np-rosximreaktiv/ http://arhr.ru/en/about-us/association-members-2/
Redirect 301 /malotonnazhnaya-ximiya-pao-nc/ http://arhr.ru/o-nas/chleny-assocziaczii/malotonnazhnaya-himiya-pao-ncz/
Redirect 301 /en/malotonnazhnaya-ximiya-pao-nc/ http://arhr.ru/en/about-us/association-members-2/chemie-mit-kleiner-tonnage-pjsc-scientific-center/
Redirect 301 /kupavnareaktiv-ao/ http://arhr.ru/o-nas/chleny-assocziaczii/kupavnareaktiv-ao/
Redirect 301 /en/kupavnareaktiv-ao/ http://arhr.ru/en/about-us/association-members-2/kupavnareaktiv-inc/
Redirect 301 /kupavnareaktiv-ao/ http://arhr.ru/o-nas/chleny-assocziaczii/mezhdunarodnaya-vystavochnaya-kompaniya-ooo/
Redirect 301 /en/kupavnareaktiv-ao/ http://arhr.ru/en/about-us/association-members-2/kupavnareaktiv-inc/
Redirect 301 /mezhdunarodnaya-vystavochnaya-kompaniya-ooo/ http://arhr.ru/o-nas/chleny-assocziaczii/mezhdunarodnaya-vystavochnaya-kompaniya-ooo/
Redirect 301 /en/mezhdunarodnaya-vystavochnaya-kompaniya-ooo/ http://arhr.ru/en/about-us/association-members-2/international-exhibition-company-llc/
Redirect 301 /npf-travers-ooo/ http://arhr.ru/o-nas/chleny-assocziaczii/npf-travers-ooo/
Redirect 301 /en/npf-travers-ooo/ http://arhr.ru/en/about-us/association-members-2/npf-traverse-llc/
Redirect 301 /sigma-tek-ooo/ http://arhr.ru/o-nas/chleny-assocziaczii/sigma-tek-ooo/
Redirect 301 /en/sigma-tek-ooo/ http://arhr.ru/en/about-us/association-members-2/sigma-tek-llc/
Redirect 301 /ekos-1-ao/ http://arhr.ru/o-nas/chleny-assocziaczii/ekos-1-ao-2/
Redirect 301 /en/ekos-1-ao/ http://arhr.ru/en/about-us/association-members-2/ekos-1-jsc/
Redirect 301 /irea-fgup/ http://arhr.ru/o-nas/chleny-assocziaczii/irea-fgup-2/
Redirect 301 /en/irea-fgup/ http://arhr.ru/en/about-us/association-members-2/irea-federal-state-unitary-enterprise/
Redirect 301 /mezhregionalnaya-ximicheskaya-kompaniya-regionximsnab-zao/ http://arhr.ru/o-nas/chleny-assocziaczii/mezhregionalnaya-himicheskaya-kompaniya-regionhimsnab-zao/
Redirect 301 /en/mezhregionalnaya-ximicheskaya-kompaniya-regionximsnab-zao/ http://arhr.ru/en/about-us/association-members-2/interregional-chemical-company-regionhimsnab-cjsc/
Redirect 301 /metalldizajn-ooo/ http://arhr.ru/o-nas/chleny-assocziaczii/metalldizajn-ooo-3/
Redirect 301 /en/metalldizajn-ooo/ http://arhr.ru/en/about-us/association-members-2/metaldesign-llc/
Redirect 301 /krismas-zao/ http://arhr.ru/o-nas/chleny-assocziaczii/krismas-zao/
Redirect 301 /en/krismas-zao/ http://arhr.ru/en/about-us/association-members-2/krismas-jsc/
Redirect 301 /nevalab-ao/ http://arhr.ru/o-nas/chleny-assocziaczii/nevalab-ao/
Redirect 301 /en/nevalab-ao/ http://arhr.ru/en/about-us/association-members-2/nevalab-jsc/
Redirect 301 /nevareaktiv-ooo/ http://arhr.ru/o-nas/chleny-assocziaczii/nevareaktiv-ooo/
Redirect 301 /en/nevareaktiv-ooo/ http://arhr.ru/en/about-us/association-members-2/nevareaktiv-ltd/
Redirect 301 /promekolab-ooo/ http://arhr.ru/o-nas/chleny-assocziaczii/promekolab-ooo/
Redirect 301 /en/promekolab-ooo/ http://arhr.ru/en/about-us/association-members-2/promekolab-ltd/
Redirect 301 /reaktiv-oao/ http://arhr.ru/o-nas/chleny-assocziaczii/reaktiv-oao/
Redirect 301 /en/reaktiv-oao/ http://arhr.ru/en/about-us/association-members-2/reagent-jsc/
Redirect 301 /ekoxim-ooo-vxodit-v-sostav-gk-ekros/ http://arhr.ru/o-nas/chleny-assocziaczii/ekoxim-ooo-vxodit-v-sostav-gk-ekros/
Redirect 301 /en/ekoxim-ooo-vxodit-v-sostav-gk-ekros/ http://arhr.ru/en/about-us/association-members-2/ecochem-llc-part-of-ecros-group-of-companies/
Redirect 301 /promximperm-ooo/ http://arhr.ru/o-nas/chleny-assocziaczii/promximperm-ooo/
Redirect 301 /en/promximperm-ooo/ http://arhr.ru/en/about-us/association-members-2/promhimperm-ltd/
Redirect 301 /ximreaktiv-ao/ http://arhr.ru/o-nas/chleny-assocziaczii/ximreaktiv-ao/
Redirect 301 /en/ximreaktiv-ao/ http://arhr.ru/en/about-us/association-members-2/himreaktiv-jsc/
Redirect 301 /ximreaktivsnab-ao/ http://arhr.ru/o-nas/chleny-assocziaczii/ximreaktivsnab-ao/
Redirect 301 /en/ximreaktivsnab-ao/ http://arhr.ru/en/about-us/association-members-2/khimreaktivsnab-jsc/
Redirect 301 /ekofarm-ooo/ http://arhr.ru/o-nas/chleny-assocziaczii/ekofarm-ooo/
Redirect 301 /en/ekofarm-ooo/ http://arhr.ru/en/about-us/association-members-2/ecopharm-ltd/
Redirect 301 /npp-sintez-ooo/ http://arhr.ru/o-nas/chleny-assocziaczii/npp-sintez-ooo/
Redirect 301 /en/npp-sintez-ooo/ http://arhr.ru/en/about-us/association-members-2/npp-synthesis-llc/
Redirect 301 /omskreaktiv-ooo/ http://arhr.ru/o-nas/chleny-assocziaczii/omskreaktiv-ooo/
Redirect 301 /en/omskreaktiv-ooo/ http://arhr.ru/en/about-us/association-members-2/omskreaktiv-llc/
Redirect 301 /reaktiv-zao/ http://arhr.ru/o-nas/chleny-assocziaczii/reaktiv-zao
Redirect 301 /en/reaktiv-zao/ http://arhr.ru/en/about-us/association-members-2/reaktiv-cjsc
Redirect 301 /reaktiv-ooo/ http://arhr.ru/o-nas/chleny-assocziaczii/reaktiv-ooo
Redirect 301 /en/reaktiv-ooo/ http://arhr.ru/en/about-us/association-members-2/reaktiv-llc
Redirect 301 /sibximreaktivsnab-ooo/ http://arhr.ru/o-nas/chleny-assocziaczii/sibximreaktivsnab-ooo
Redirect 301 /en/sibximreaktivsnab-ooo/ http://arhr.ru/en/about-us/association-members-2/sibkhimreaktivsnab-llc
Redirect 301 /belreaxim-oao/ http://arhr.ru/o-nas/chleny-assocziaczii/belreaxim-oao/
Redirect 301 /en/belreaxim-oao/ http://arhr.ru/en/about-us/association-members-2/belreakhim-ojsc/
Redirect 301 /karagandareaktivsbyt-too/ http://arhr.ru/o-nas/chleny-assocziaczii/karagandareaktivsbyt-too
Redirect 301 /en/karagandareaktivsbyt-too/ http://arhr.ru/en/about-us/association-members-2/karagandareaktivsbyt-llp
Redirect 301 /ustavnye-dokumenty/ http://arhr.ru/o-nas/ustavnye-dokumenty/
Redirect 301 /en/ustavnye-dokumenty/ http://arhr.ru/en/about-us/statutory-documents/
Redirect 301 /kak-vstupit-v-np-rosximreaktiv/ http://arhr.ru/o-nas/kak-stat-chlenom-assocziaczii/
Redirect 301 /en/kak-vstupit-v-np-rosximreaktiv/ http://arhr.ru/en/about-us/how-to-become-a-member-of-the-association/
Redirect 301 /izdaniya/ http://arhr.ru/publikaczii/
Redirect 301 /en/izdaniya/ http://arhr.ru/en/publications/
Redirect 301 /svodnyj-katalog-np-rosximreaktiv-ximicheskie-reaktivy-i-osobo-chistye-ximicheckie-veshhestva-2007-g/ http://arhr.ru/publikaczii/svodnyj-katalog-np-rosximreaktiv/
Redirect 301 /en/svodnyj-katalog-np-rosximreaktiv-ximicheskie-reaktivy-i-osobo-chistye-ximicheckie-veshhestva-2007-g/ http://arhr.ru/en/publications/the-consolidated-catalog-of-np-roshimreactiv/
Redirect 301 /elektronnaya-versiya-svodnyj-katalog-np-rosximreaktiv-ximicheskie-reaktivy-i-osobo-chistye-ximicheskie-veshhestva-1-chast-2008-g/ http://arhr.ru/publikaczii/elektronnaya-versiya-svodnyj-katalog-np-rosximreaktiv-ximicheskie-reaktivy-i-osobo-chistye-ximicheskie-veshhestva-1-chast-2008-g/
Redirect 301 /en/elektronnaya-versiya-svodnyj-katalog-np-rosximreaktiv-ximicheskie-reaktivy-i-osobo-chistye-ximicheskie-veshhestva-1-chast-2008-g/ http://arhr.ru/en/publications/electronic-version-the-consolidated-catalog-of-np-roshimreactiv-chemical-reagents-and-highly-pure-chemicals-1-part-2008/
Redirect 301 /kontakty/ http://arhr.ru/kontakty-2/
Redirect 301 /en/kontakty/ http://arhr.ru/en/contacts/
Redirect 301 /smi-o-nas/ http://arhr.ru/press-czentr/smi-o-nas/
Redirect 301 /en/smi-o-nas/ http://arhr.ru/en/press-center/mass-media-about-us/
Redirect 301 /informacionnaja-podderzhka/ http://arhr.ru/press-czentr/informaczionnye-partnery/
Redirect 301 /en/informacionnaja-podderzhka/ http://arhr.ru/en/press-center/information-partners/
Redirect 301 /fotoreportazh-kollektivnyj-stend-na-ximii-2009/ http://arhr.ru/fotogalereya/fotoreportazh-kollektivnyj-stend-na-himii-2009/
Redirect 301 /en/fotoreportazh-kollektivnyj-stend-na-ximii-2009/ http://arhr.ru/en/photogallery/photoreport-collective-stand-at-chemistry-2009/
Redirect 301 /fotoreportazh-stend-np-rosximreaktiv-na-vystavke-analitika-ekspo-2014/ http://arhr.ru/fotogalereya/fotoreportazh-stend-np-roshimreaktiv-na-vystavke-analitika-ekspo-2014/
Redirect 301 /en/fotoreportazh-stend-np-rosximreaktiv-na-vystavke-analitika-ekspo-2014/ http://arhr.ru/en/photogallery/photoreport-stand-of-roshimreactiv-np-at-the-exhibition-analytics-expo-2014/
Redirect 301 /fotoreportazh-stend-partnerstva-na-vystavke-analitika-ekspo-2011/ http://arhr.ru/fotogalereya/fotoreportazh-stend-partnerstva-na-vystavke-analitika-ekspo-2011/
Redirect 301 /en/fotoreportazh-stend-partnerstva-na-vystavke-analitika-ekspo-2011/ http://arhr.ru/en/photogallery/photoreport-partnership-stand-at-the-exhibition-analytics-expo-2011/
Redirect 301 /fotoreportazh-10-ti-letnij-yubilej-partnerstva-i-zao-kupavnareaktiv/ http://arhr.ru/fotogalereya/fotoreportazh-10-ti-letnij-yubilej-partnerstva-i-zao-kupavnareaktiv/
Redirect 301 /en/fotoreportazh-10-ti-letnij-yubilej-partnerstva-i-zao-kupavnareaktiv/ http://arhr.ru/en/photogallery/photoreport-10th-anniversary-of-the-partnership-and-cjsc-kupavnareaktiv/
Redirect 301 /fotoreportazh-np-rosximreaktiv-na-vystavke-analitika-2013/ http://arhr.ru/fotogalereya/fotoreportazh-np-roshimreaktiv-na-vystavke-analitika-2013/
Redirect 301 /en/fotoreportazh-np-rosximreaktiv-na-vystavke-analitika-2013/ http://arhr.ru/en/photogallery/photoreport-np-roshimreactiv-at-the-exhibition-analytics-2013/
Redirect 301 /fotoreportazh-s-vystavki/ http://arhr.ru/fotogalereya/fotoreportazh-s-vystavki/
Redirect 301 /en/fotoreportazh-s-vystavki/ http://arhr.ru/en/photogallery/photoreport-from-the-exhibition/
Redirect 301 /seminar-metody-i-sredstva-ximicheskogo-ekspress-analiza-v-polevyx-laboratornyx-i-proizvodstvennyx-usloviyax/ http://arhr.ru/post-relizy/seminar-metody-i-sredstva-himicheskogo-ekspress-analiza-v-polevyh-laboratornyh-i-proizvodstvennyh-usloviyah/
Redirect 301 /en/seminar-metody-i-sredstva-ximicheskogo-ekspress-analiza-v-polevyx-laboratornyx-i-proizvodstvennyx-usloviyax/ http://arhr.ru/en/post-releases/seminar-methods-and-tools-for-chemical-rapid-analysis-in-the-field-laboratory-and-production-conditions/
Redirect 301 /seminar-organizaciya-kontrolya-kachestva-topliv-evro-3-evro-4-i-szhizhennyx-gazov/ http://arhr.ru/post-relizy/seminar-organizacziya-kontrolya-kachestva-topliv-evro-3-evro-4-i-szhizhennyh-gazov/
Redirect 301 /en/seminar-organizaciya-kontrolya-kachestva-topliv-evro-3-evro-4-i-szhizhennyx-gazov/ http://arhr.ru/en/post-releases/seminar-organization-of-quality-control-of-fuels-euro-3-euro-4-and-liquefied-gases/
Redirect 301 /seminar-sovremennye-tendencii-v-malom-analiticheskom-priborostroenii-mobilnost-i-avtomatizaciya/ http://arhr.ru/post-relizy/seminar-sovremennye-tendenczii-v-malom-analiticheskom-priborostroenii-mobilnost-i-avtomatizacziya/
Redirect 301 /en/seminar-sovremennye-tendencii-v-malom-analiticheskom-priborostroenii-mobilnost-i-avtomatizaciya/ http://arhr.ru/en/post-releases/seminar-modern-trends-in-small-analytical-instrumentation-mobility-and-automation/
Redirect 301 /seminar-aspekty-primeneniya-texnologij-nanoindustrii-v-ximicheskoj-promyshlennosti/ http://arhr.ru/post-relizy/seminar-aspekty-primeneniya-tehnologij-nanoindustrii-v-himicheskoj-promyshlennosti/
Redirect 301 /en/seminar-aspekty-primeneniya-texnologij-nanoindustrii-v-ximicheskoj-promyshlennosti/ http://arhr.ru/en/post-releases/seminar-aspects-of-the-application-of-nanoindustry-technologies-in-the-chemical-industry/
Redirect 301 /kruglyj-stol-v-volgograde/ http://arhr.ru/post-relizy/kruglyj-stol-v-volgograde/
Redirect 301 /en/kruglyj-stol-v-volgograde/ http://arhr.ru/en/post-releases/round-table-in-volgograd/
Redirect 301 /itogi-kruglogo-stola-s-fskn-rf-aprel-2011/ http://arhr.ru/post-relizy/itogi-kruglogo-stola-s-fskn-rf-aprel-2011/
Redirect 301 /en/itogi-kruglogo-stola-s-fskn-rf-aprel-2011/ http://arhr.ru/en/post-releases/the-results-of-the-round-table-with-the-federal-drug-control-service-of-the-russian-federation-april-2011/
Redirect 301 /konkurs_fbu_rostest/ http://arhr.ru/anonsy-meropriyatij/konkurs-fbu-rostest/
Redirect 301 /en/konkurs_fbu_rostest/ http://arhr.ru/en/event-announcements/competition-fbu-rostest/
Redirect 301 /slushatelyam/ http://arhr.ru/anonsy-meropriyatij/slushatelyam/
Redirect 301 /en/slushatelyam/ http://arhr.ru/en/event-announcements/listeners/
Redirect 301 /17-04-13-seminar-osobennosti-analiza-nefteproduktov-fotoreportazh/ http://arhr.ru/fotogalereya/17-04-13-seminar-osobennosti-analiza-nefteproduktov-fotoreportazh/
Redirect 301 /en/17-04-13-seminar-osobennosti-analiza-nefteproduktov-fotoreportazh/ http://arhr.ru/en/photogallery/04-17-13-seminar-features-of-the-analysis-of-petroleum-products-photo-report/
Redirect 301 /17-04-13-seminar-sovremennye-trebovaniya-k-perevozke-opasnyx-gruzov-ximicheskoj-produkcii-fotoreportazh/ http://arhr.ru/fotogalereya/17-04-13-seminar-sovremennye-trebovaniya-k-perevozke-opasnyh-gruzov-himicheskoj-produkczii-fotoreportazh/
Redirect 301 /en/17-04-13-seminar-sovremennye-trebovaniya-k-perevozke-opasnyx-gruzov-ximicheskoj-produkcii-fotoreportazh/ http://arhr.ru/en/photogallery/04-17-13-seminar-modern-requirements-for-the-transport-of-dangerous-goods-chemical-products-photo-report/
Redirect 301 /konkurs-za-obespechenie-vysokoj-tochnosti-izmerenij-v-analiticheskoj-ximii-2017-g/ http://arhr.ru/anonsy-meropriyatij/konkurs-za-obespechenie-vysokoj-tochnosti-izmerenij-v-analiticheskoj-himii-2017-g/
Redirect 301 /en/konkurs-za-obespechenie-vysokoj-tochnosti-izmerenij-v-analiticheskoj-ximii-2017-g/ http://arhr.ru/en/event-announcements/competition-to-ensure-high-precision-of-measurements-in-analytical-chemistry-2017/